<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Diagrams On Web</title>
    <meta name="description" content="Build Diagram from code in your browser." />
    <meta name="keywords" content="Diagrams web" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="stylesheet" type="text/css" href="/static/css/diagrams.css?090owe=090">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body id="{% block body_id %}normal_body{% endblock %}">
    <div id="sidenav">
      <ul id="provider_list">
        {% for one_provider in providers %}
          <li>
            <a href="#" data-provider="{{one_provider.name}}" class="one_provider tooltip">{% if one_provider.icon %}<img src="{{one_provider.icon}}" alt="{{one_provider.name}}" class="provider_icon">{% else %}{{one_provider.name}}{% endif %}<span>{{one_provider.name}}</span></a>
          </li>
        {% endfor %}
      </ul>
      <div id="content_menu">
      </div>
    </div>

    <div id="main">
      <div id="menu_bar">
        <div>
          <button class="btn" id="open_help">Help</button>
          <button class="btn" id="close_help">&#8592;</button>
          <button class="btn" id="btn_more">Examples</button>
        </div>
      <div> 
        <div id="action">
          <button class="btn" value="Build" id="build">Build <i class="fas fa-angle-double-right"></i></button>
          <a id='donwload' class="btn">Download</a>
        </div>    
      </div>
      </div>
      <div id="left">
          <div id="editor">{{diagrams_data}}</div>
      </div>
      <div id="render">
      </div>
      <div id="myresult" class="img-zoom-result"></div>
     
    </div>
  </body>
  <script src="/static/js/node_modules/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
  <script src="/static/js/diagrams.js?090=kop" type="text/javascript" charset="utf-8"></script>
</html>
